<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->




<section class="error">
  <!-- Content -->
  <div class="center">
    <div class="error__message message">
      <h1 class="message__title">Focal</h1>
      <button mat-flat-button color="primary" [routerLink]="'create-content'">
        Login Using Google
      </button>
    </div>
  </div>
  <!-- END Content -->

</section>
