<title>Focal Settings</title>

<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->



<div class="center">
  <mat-tab-group>



    <!-- Account tab starts here -->
    <mat-tab label="Account">
      <div class="nicepadding">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Display Name</mat-label>
            <input matInput placeholder="CoolBoy39" value="ExampleUserName">
          </mat-form-field>
        </form>
        <div>
        </div>
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>About Me</mat-label>
            <input matInput placeholder="I Like food and coding" value="ExampleAboutMeSection">
          </mat-form-field>
        </form>
        <div>
        </div>
        <mat-form-field appearance="fill">
          <mat-label>Gender</mat-label>
          <mat-select>
            <mat-option value="one">Male</mat-option>
            <mat-option value="two">Female</mat-option>
            <mat-option value="two">Rather Not Say</mat-option>
          </mat-select>
        </mat-form-field>
        <div>

        </div>
        <button mat-flat-button color="primary" [routerLink]="'/login'">
          Log Out
        </button>

      </div>


    </mat-tab>
    <!-- Account tab ends here -->




    <!-- Privacy tab starts here -->
    <mat-tab label="Privacy">
      <div class="nicepadding">
        <mat-slide-toggle>Account Privacy</mat-slide-toggle>
      </div>
    </mat-tab>
    <!-- Privacy tab ends here -->




    <mat-tab label="Theme">
      <div class="nicepadding">
        <mat-form-field appearance="fill">
          <mat-label>Theme</mat-label>
          <mat-select>
            <mat-option value="one">Light</mat-option>
            <mat-option value="two">Dark</mat-option>
            <mat-option value="two">Focal</mat-option>

          </mat-select>
        </mat-form-field>
      </div>
    </mat-tab>



    <mat-tab label="Connections">

    </mat-tab>

  </mat-tab-group>
</div>
