<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>User Name</mat-card-title>
    <mat-card-subtitle>Bio</mat-card-subtitle>
    <img mat-card-sm-image src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" >
  </mat-card-title-group>
  <mat-card-content>

  </mat-card-content>

</mat-card>

  <div class="nicepadding">
    <mat-tab-group>



      <!-- My Post tab starts here -->
      <mat-tab label="My Post">
        <div class="nicepadding">
        </div>
      </mat-tab>
      <!-- My Post tab ends here -->




      <!-- Liked Videos tab starts here -->
      <mat-tab label="Liked Videos">
        <div class="nicepadding">

        </div>
      </mat-tab>
      <!-- Liked Videos tab ends here -->

    </mat-tab-group>
  </div>
