<!--dust particel-->
<div>
  <div class="starsec"></div>
  <div class="starthird"></div>
  <div class="starfourth"></div>
  <div class="starfifth"></div>
</div>
<!--Dust particle end--->




<div class="post">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mexican</mat-card-title>
      <mat-card-subtitle>Bruh</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
      src="https://cdn.discordapp.com/attachments/763150833009164298/1001301443241848972/58843146432__A7C0476B-BFE9-441B-9A2E-1545B69A5108.jpg"
      alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        very descriptive description
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>


<div>

</div>

<div class="post">
  <mat-card class="example-card">
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-content>
      <p>This card has divider and indeterminate progress as footer</p>
      <p></p>
    </mat-card-content>
    <mat-divider inset></mat-divider>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    <mat-card-footer>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card-footer>
  </mat-card>
</div>
