.padding {
    padding-top:10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
  }

.navbar.active {
  background: #152238;
  padding-right: 1500px;
}


.box-content {
  overflow: auto;
  border-radius: 8px;
}

.sideNavPad {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.spacer {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.navbar {
  padding-left: 1500px;
  

}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.ProfilePadding {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}