



.cover {
  padding: 0px 30px;
  position: relative;
}
.left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.scroll-images {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}



.child {
  width: 1000px;
  height: 1000px;
  margin: 1px 10px;
  overflow: hidden;
}

.roundcorns {
  flex:1; 
}

.padding {
    padding-top:10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    
  }


  .profileCard {
    padding-top:10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    
    
  } 

  .HowItStarted {
    padding-top:10px;
    padding-right: 10px;
    padding-bottom: 10px;
    
  } 
  
  .profileTabs {
    padding-top:15px;
    padding-bottom: 15px;
    
  }  


  .NotificationCard{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
  }  

.navbar.active {
  background: #23333f;
  
}


.box-content {
  overflow: auto;
  border-radius: 8px;
}

.sideNavPad {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
}

.spacer {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.navbar {
  float: left;
}

.noti {
  float: bottom
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center2{
  margin-left: auto;
  margin-right: auto;
}

.ProfilePadding {
  padding-top: 30px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.aboutCards {
  padding-top:10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  float: left
  
}

.aboutCards2 {
  padding-top:10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  clear:both;
  
}

.Title {
  padding-top:2px;
  padding-right: 10px;
  padding-bottom: 2px;
  padding-left: 10px;
  float: left
  
}


.svg-container {
  background: #ffffff;
  padding: 3em;
  
}
.svg-container svg {
  max-width: 650px;
}

.centered-element {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

